<div class="modal fade" id="modal-id-<%= row["id"] %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= row["name"] %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Description:</strong> <%= row["description"] %>
        </p>
        <p>
          <strong>Food pairing:</strong> <%= row["food_pairing"].join(', ') %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sounds good!</button>
      </div>
    </div>
  </div>
</div>
