<% if @page != 1 %>
  <% if @next_page.empty? %>
    <% (@page - 2).upto(@page) do |i| %>
      <% next if i == 0 %>

      <li class="page-item <%= @page === i ? 'active' : nil %>">
        <%= link_to i, home_path(page: i, query: @search_query), class: 'page-link' %>
      </li>
    <% end %>
  <% else %>
    <% (@page - 1).upto(@page + 1) do |i| %>
      <% next if i == 0 %>

      <li class="page-item <%= @page === i ? 'active' : nil %>">
      <%= link_to i, home_path(page: i, query: @search_query), class: 'page-link' %>
    </li>
    <% end %>
  <% end %>
<% else %>
  <!-- For Page 1 only -->
  <% if @next_page.empty? %>
    <li class="page-item active">
      <%= link_to @page, home_path(page: @page, query: @search_query), class: 'page-link' %>
    </li>
  <% else %>
    <% @page.upto(@page + 2) do |i| %>
      <li class="page-item <%= @page === i ? 'active' : nil %>">
        <%= link_to i, home_path(page: i, query: @search_query), class: 'page-link' %>
      </li>
    <% end %>
  <% end %>
<% end %>
