<% table.each do |row| %>
  <tr>
    <td>
      <%= row["name"] %>
    </td>
    <td>
      <%= row["abv"] %>
    </td>
    <td>
      <%= link_to 'Read more', nil, type: 'button', class: 'btn btn-primary', 'data-bs-toggle': 'modal', 'data-bs-target': "#modal-id-#{row["id"]}" %>
      <%= render partial: 'modal', locals: { row: row } %>
    </td>
  </tr>
<% end %>
