<div class="container px-5">

  <div class="pt-3 pb-3">
    <h1 class="display-6">Home#index</h1>
    <div>
      <p class="lead">Page <%= @page %></p>
    </div>
  </div>

  <%= form_with url: home_path(page: @page, query: nil), method: :get, class: 'input-group pt-3 pb-3' do |f| %>
    <%= f.text_field :query, placeholder: 'Ale, Punk IPA...', type: 'text', class: 'form-control' %>
    <%= f.submit 'Search', class: 'btn btn-outline-secondary', type: 'button' %>
  <% end %>

  <% if not @search_query.nil? %>
    <p class="pt-3 pb-2 text-muted">You searched: <strong><%= params[:query] %></strong></p>
  <% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col">Name</th>
        <th class="col">Alcohol by volume (%)</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'row', locals: { table: @response_body } %>
    </tbody>
  </table>

  <% if @response_body.empty? %>
    <p class="text-muted">Nothing found...</p>
  <% end %>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to 'Home', home_path, class: 'page-link' %>
      </li>

      <li class="page-item <%= @page === 1 ? 'disabled' : nil %>">
        <%= link_to 'Previous', home_path(page: @page - 1, query: @search_query), class: 'page-link' %>
      </li>

      <%= render partial: 'pagination', locals: { body: @response_body } %>

      <li class="page-item <%= @response_body.empty? || @next_page.empty? ? 'disabled' : nil %>">
        <%= link_to 'Next', home_path(page: @page + 1, query: @search_query), class: 'page-link' %>
      </li>
    </ul>
  </nav>
</div>
